<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="5">

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{[%-5level]} %d{HH:mm:ss.SSS}  %logger{1.}  %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="gbastkowski" level="debug" />

    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>

</Configuration>
